@font-face {
	font-family: 'Conv_VolvoBroadPro';
	src: url('fonts/VolvoBroadPro.eot');
  src: url('fonts/VolvoBroadPro.eot?#iefix') format('embedded-opentype'),
    url('fonts/VolvoBroadPro.woff') format('woff'),
    url('fonts/VolvoBroadPro.ttf') format('truetype'),
    url('fonts/VolvoBroadPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}