@font-face {
	font-family: 'Conv_VolvoSansPro-Light';
	src: url('fonts/VolvoSansPro-Light.eot');
  src: url('fonts/VolvoSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/VolvoSansPro-Light.woff') format('woff'),
    url('fonts/VolvoSansPro-Light.ttf') format('truetype'),
    url('fonts/VolvoSansPro-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_VolvoSansPro-Regular';
	src: url('fonts/VolvoSansPro-Regular.eot');
  src: url('fonts/VolvoSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/VolvoSansPro-Regular.woff') format('woff'),
    url('fonts/VolvoSansPro-Regular.ttf') format('truetype'),
    url('fonts/VolvoSansPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_VolvoSerifPro-Italic';
	src: url('fonts/VolvoSerifPro-Italic.eot');
  src: url('fonts/VolvoSerifPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/VolvoSerifPro-Italic.woff') format('woff'),
    url('fonts/VolvoSerifPro-Italic.ttf') format('truetype'),
    url('fonts/VolvoSerifPro-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}